HTML, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  width: 100%;

  display: flex;
  justify-content: center;
  background: #000000;

  font-family: Georgia, serif;
}

.wrapper {
  width: 100%;

  max-width: 945px;

  margin-left: 1rem;
  margin-right: 1rem;
}

.center {
  width: 100%;
  justify-content: center;
  display: flex;
}

header {
  color: white;

  width: 100%;

  max-width: 825px;

  align-items: center;
  display: flex;

  flex-direction: row;

  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

header .left {
  width: 100%;

  display: flex;

  align-items: center;
}

header .left img {
  display: inline;

  width: 38px;
  height: 22px;
}

header .left h1 {
  font-family: serif;
  font-weight: 100;
  font-size: 1.8rem;

  display: inline;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: .5rem;
}

header .right {
  width: 100%;

  text-align: right;

  font-weight: bolder !important;

  font-size: 1rem;

  height: 100%;

  align-items: flex-end;

  display: flex;

  justify-content: flex-end;
}

.content {
}

.nav {
  background-color: #8E8D50;

  width: 100%;
  height: 115px;

  padding-bottom: 0;
}

.nav-content {
  max-width: 780px;

  margin-left: auto;
  margin-right: auto;

  margin-top: .5rem;
  margin-bottom: .5rem;

  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-content .link {
  display: inline-block;

  margin-right: 2rem;
}

.nav-content a {
  color: #FFFFFF;

  text-decoration: none;

  font-family: Georgia, serif;

  font-size: 1rem;
}

.small-logo {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  display: block;

  height: 1rem;

  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  width: 100%;
}

.hero-image-wrap {
  padding-left: 1rem;
  padding-right: 1rem;

  padding: 5px;

  border: 5px #685742 solid;

  background-color: #FFFFFF;

  margin-top: -55px;

  margin-left: 1rem;
  margin-right: 1rem;

  max-width: 804px;
}

.background {
  background-color: #F9F4DE;
}

.home-text-content {
  align-items: center;
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 780px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 1rem;

  padding-left: 2rem;
  padding-right: 2rem;
}

.home-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.home-text-content .left {
  width: 154%;

  display: flex;

  align-items: center;

  flex-direction: column;

  margin-bottom: 1rem;
}

.home-text-content .right {
  width: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  color: #676639;

  font-style: italic;

  font-size: .9rem;

  margin-bottom: 1rem;
}

.home-text-content .right a {
  color: #676639;

  display: inline;
}

.title {
  color: #676639;

  font-weight: normal;

  text-align: center;
  width: 100%;

  font-size: 1.35rem;

  margin-bottom: .5rem;
}

.body {
  width: 100%;

  font-size: 19px;

  line-height: 28px;

  color: #4A3C2A;

  font-family: serif, cursive;
}

.body img {
  display: flex;
  width: 100%;
}

.home-text-content .right .other-company {
  display: block;
  font-style: normal;

  color: #8E8D50;

  margin-bottom: 2rem;
}

.contact-us {
  margin-bottom: 1rem;
}

footer {
  font-size: 10px;

  color: #4A3C2A;

  text-align: center;

  width: 100%;

  padding-bottom: 10px;
}

.body a {
  color: inherit;

  text-decoration: none;
}

.body a:hover {
  text-decoration: underline;
}

.right-contents img {
  width: 100%;
  height: auto;

  max-width: 269px;
  max-height: 163px;
}

img.active {
  display: block !important;
}

img.image {
  display: none;
}

img.first-image {
  display: block;
}

.casket_header_text {
  text-align: center;

  color: #766639;

  font-size: 1.45rem;

  margin-bottom: .3rem;
}

.merica {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;

  display: flex;
  justify-content: center;

  font-size: .9rem;

  font-weight: bold;
}

.moreinfo {
  color: #676643;

  font-size: 11pt;

  display: flex;

  justify-content: center;
}

.casket {
  overflow-wrap: normal;

  flex-direction: column;

  display: flex;

  text-align: center;

  padding-left: 10px;

  padding-right: 10px;
}

.casket a {
  color: #8E8D50;

  text-decoration: none;

  height: 100%;

  flex-direction: column;

  display: flex;
}

.caskets {
  width: 100%;

  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.casket {
  overflow-wrap: normal;

  flex-direction: column;

  display: flex;

  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.casket img {
  width: 100%;
  max-width: 107px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
}

.nav-text {
  height: 100%;

  display: flex;

  align-items: flex-end;

  width: 100%;

  justify-content: center;
}

.casket a:hover {
  color: #766639;
}

.left-fix {
  /* width: 66% important; */
}

.right-fix {
  max-width: 269px;

  flex-direction: column;

  font-style: normal !important;

  justify-content: flex-start;
}

.right-fix ul {
  text-align: left;

  color: #000000;

  font-size: 1rem;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;

  max-width: 200px;
}

#home-fix {
  align-items: flex-start;

  flex-direction: column;
}

.casket-item {
  display: flex;

  width: 100%;

  margin-bottom: 3rem;
}

.casket-item:last-child {
  margin-bottom: 1rem;
}

.phone-only {
  display: none;
}

.desktop-only {
  display: block;
}

.all-but-phone {
  display: block;
}

#seymour-thumbnail {
  margin-top: 1.3rem;
}

.chairwrapper {
  display: flex;

  width: 100%;

  margin-bottom: 1rem;

  justify-content: space-evenly;

  flex-direction: row;
}

.chair .rocker {
  display: flex;

  width: 100%;

  border: 2px #685742 solid;
}

.chair {
  margin-left: auto;
  margin-right: auto;

  max-width: 350px;

  padding-left: 1rem;
  padding-right: 1rem;
}

.rockerText {
  text-align: center;

  color: #000000;

  font-size: 1rem;

  width: 100%;

  margin-top: .5rem;
}

.chairCallout {
  width: 100%;

  text-align: center;

  margin-bottom: 1.55rem;
}

.chairCallout a {
  color: #8E8D50;
}

.navCasket {
  max-width: 127px;

  height: 100px;
  width: 100%;

  display: flex;

  flex-direction: column;

  position: relative;

  margin-bottom: 1rem;
}

.navText {
  color: #8E8D50;

  width: 100%;

  display: flex;

  justify-content: center;

  align-items: end;
}

.navTextLink {
  text-decoration: none;

  position: absolute;

  bottom: 0;

  width: 100%;
}

.navCasket .navThumbnail {
  width: 100%;
  height: 100%;

  padding-left: 10px;
  padding-right: 10px;

  margin-left: auto;
  margin-right: auto;

  max-width: 107px;
}

.navCasket .navThumbnail:hover {
  padding-left: 0;
  padding-right: 0;

  max-width: 127px;

  position: relative;
}

.navImageLink {
  display: flex;

  position: relative;

  z-index: 2;
}

.navCaskets {
  display: flex;

  justify-content: space-evenly;

  width: 100%;

  flex-wrap: wrap;
}

.longNavFix {
  max-width: 145px;
}

.shortImageFix {
  padding-top: 1rem;
}

@media (max-width:980px)  {

  .right-contents img {
    display: none;
  }

  .right-contents {
    width: 100%;
  }

  .chairwrapper {
    flex-direction: column;
  }

  .all-but-phone {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  header {
    flex-direction: column;
  }

  header .left {
    text-align: center;
    justify-content: center;
  }

  header .right {
    text-align: center;

    justify-content: center;
  }

  .nav {
    padding-bottom: 1.9rem;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-content .link {
    margin-right: 0;

    text-align: center;

    padding: .5rem;
  }

  .nav-content .link a {
    padding: .5rem;
  }

  .hero-image-wrap {
    /* padding-left: 0;
    padding-right: 0; */

    margin-top: -1.5rem;
  }

  header .left img {
    display: none;
  }

  .home-text-content {
    flex-direction: column;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0;
  }

  .home-text-content .left {
    justify-content: center;

    width: 100%;
  }

  .home-text-content .right {
    justify-content: center;
  }

  .small-logo {
    display: none;
  }

  .casket a .nav-text {
    width: 107px;
  }

  .right-fix {
    max-width: none;
  }

  .casket-item {
    flex-direction: column;
  }

  .home-text-content .right a {
    display: none;
  }

   .mobile-hide {
     display: none;
   }

   .body img {
     max-width: 511px;

     margin-left: auto;
     margin-right: auto;
   }

   .chair {
     padding-left: 0;
     padding-right: 0;
   }
}


/* @media (min-width:480px)  {
  .phone-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }

  .all-but-phone {
    display: none !important;
  }

  .casket-item {
    margin-bottom: 1rem;
  }

} */
